:root{
  --bg-color:#3C1138;
  --color-text: #ffffff;
  --stroke: #E09CDA;
  --header-bg-color: #6E0F66;
  --player-color: #A6349A ;
  --progress-color: #ff00ff;
  --componrnt-color: #3c11384b;
  --shadow-color:#140311;
}
*{
  color: var(--color-text);
  padding: 0;
  margin: 0;
  
}

header{
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 30px;
  background: var(--header-bg-color);
  gap: clamp(0vw, 20vw, 50vw);
  box-shadow: 0 0 20px 0 var(--shadow-color);
  top: 0;
  width: 100%;
  min-height: 80px;
  position: fixed;

}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.logo{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.img-m{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.player{
  display: flex;
  position: fixed;
  gap: 15px;
  align-items: center;
  padding: 10px 0px 10px 5vw ;
  bottom: 0px;
  background: var(--player-color);
  width: 100vw;
  box-shadow: 0 0 20px 0 var(--shadow-color) ;
  height: 60px;
  
}

.left-panel{
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  min-width: 100px; 
  max-width: 400px;
  width: 300px;
  background: var(--header-bg-color);
  flex-shrink: 0; 
  padding: 15px;
  justify-content: flex-start;
  gap: 15px;
}

.playlist{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  background-color: #3C113880;
  border-radius: 15px;
  height: 80px;
  min-width: 90px;
  max-width: 390px;
  font-size: 20px;
}

.main-panel{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  max-height: 100vh;
  flex: 1;
  padding: 15px;
  flex-shrink: 0; 
  gap: 20px;

}

.componrnt{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 15px ;
  min-height: 80px;
  min-width: 100%;
  border-radius: 15px;
  color: var(--color-text);
  background-color: transparent;
  font-size: 12px;
  font-weight: bold; 
  border: none;
}
.body-comp{
  display: flex;
  align-items:center;
  gap: 15px;
  font-size: 16px;
}

h1{
  font-size: 36px;
  font-weight: bold;
}

input {
  font-size: 12px;
  color: var(--bg-color);
  padding: 16px ;
  border-radius: 15px;
  border: none;
  width: clamp(250px, 25vw, 50vw );
  
}

button{
  border: 1.5px solid var(--stroke);
  border-radius: 15px;
  padding: 14px 45px;
  color: var(--color-text);
  background-color: var(--bg-color);
  font-size: 12px;
  font-weight: bold;
  
}

a{
  font-size: 14px;
}



.track-info {
  display: flex;
  flex-direction: column;

}

.track-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.track-author {
  color: white;
  font-size: 14px;
  margin: 0;
}